html {
  background-color: blanchedalmond;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px;
}

#pizzaCanvas {
  margin: auto;
  justify-content: center;
}

#pizza {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  background-color: #aaa;
  border: solid #000;
}

#toppings_row {
  width: 50%;
  margin: auto;
  /* text-align: center; */
}

.toppings {
  height: 200px;
}

/* #ham {
    display: block;
    text-align: center;
    margin: auto;
} */

.pizza_topping_form {
  display: flex;
  flex-direction: row;
}

.img_resize {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  /* outline: 2px solid #f00; */
  background-color: rgba(251, 6, 6, 0.541);
}