html{
    background-color: blanchedalmond;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px;
}

#image_holder {
  justify-content: center;
  width: 50%;
  float: left;
}

#pizza {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: #aaa;
  border: solid #000;
}

#toppings_row {
  float: left;
  width: 50%;
  text-align: center;
}

#special_pizzas {
  display: flex;
  flex-direction: row;
  border: solid #000;
  height: 100px;
}

.toppings {
  border: solid 1px #000;
  display: flex;
}

.pizza_topping_form {
  display: flex;
  flex-direction: column;
}

.img_resize {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.topping_resize {
  width: 70px;
  height: 35px;
  border-radius: 5px;
}

.img_radio[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.img_radio[type="radio"] + img {
  cursor: pointer;
}

.img_radio[type="radio"]:checked + img {
  background-color: rgba(251, 6, 6, 0.541);
}

#total {
  font-size: 48px;
  display: flex;
  border: solid 1px #000;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  // background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

.topping_font {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
}

.btn {
  width: 20%;
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 40px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}